body {
  padding: 15px;
  font-family: "Raleway", sans-serif;
}
body a {
  color: #53b3d7;
  text-decoration: none;
}
body a:hover {
  color: #79cdc5;
}
body a:hover h2 {
  color: #79cdc5;
}
body h1,
body h2 {
  font-weight: 400;
}
body .section-title {
  text-decoration-line: underline;
  text-decoration-color: #a7cdbd;
}
body .summary #logo {
  width: 10%;
  margin-left: 45%;
  position: relative;
}
body .summary h1 {
  color: #6b5e62;
  margin: 80px 60px;
  text-align: center;
  position: relative;
}
body .summary .highlight {
  color: #a7cdbd;
  position: relative;
}
body .summary h2 {
  text-align: center;
  margin: 0 120px 150px 120px;
  position: relative;
}
body .skills,
body .projects,
body .contact {
  background-color: #fdfafc;
  padding: 60px;
}
body .skills p {
  color: #869d7a;
  font-size: 18px;
}
body .experience {
  padding: 60px;
}
body .experience h2 {
  font-weight: 100;
  font-size: 18px;
  font-style: italic;
}
body .experience li {
  font-size: 18px;
}
body .education {
  padding: 60px;
}
body .education #lhl {
  width: 4%;
}
body .education #ubc {
  width: 2.5%;
  padding: 5px;
}
body .projects .date {
  font-size: 16px;
}
body .projects .details {
  font-size: 1.25em;
}
body .projects hr {
  border-width: 2px;
}
body .projects #paw2paw,
body .projects #jungle,
body .projects #chatty {
  padding-bottom: 20px;
}
body .projects #jungle-img {
  width: 53%;
}
body .projects .project-btn {
  background-color: #6a706e;
  color: white;
  width: 220px;
  height: 40px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 18px;
}
body .projects .project-btn:hover {
  color: #89b6a5;
  background-color: white;
  border-color: #89b6a5;
  border-width: 2px;
}
body .projects .project-btn:focus {
  outline: none;
}
body .projects .bouncy:hover {
  -moz-animation: bounce 1s infinite;
  -webkit-animation: bounce 1s infinite;
  animation: bounce 1s infinite;
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-7.5px);
  }
}
body .projects .paw2paw-details,
body .projects .jungle-details,
body .projects .chatty-details,
body .projects .tweeter-details {
  display: none;
  width: 50%;
}
body .projects .paw2paw-details .title,
body .projects .jungle-details .title,
body .projects .chatty-details .title,
body .projects .tweeter-details .title {
  color: #53b3d7;
}
body .contact {
  padding: 60px;
}
body .contact .me {
  float: left;
  padding-right: 15px;
}
body .contact .me img {
  border-radius: 50%;
  width: 163px;
  height: 157px;
}
body .contact .contact-info ol {
  padding-left: 0;
  font-size: 18px;
}

footer p {
  font-size: 12px;
  color: #a7cdbd;
  text-align: center;
}

/* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  height: 75%;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  opacity: 0.48%;
}
