body {
  box-sizing: border-box;
  margin-top: 30px;
  margin-bottom: 50px;
}

h1,
.h1 {
  margin-top: 10px;
}

h2,
.h2 {
  margin-top: 60px;
  border-bottom: solid 1px grey;
}

h4,
.h4 {
  margin-top: 0;
  margin-bottom: 0;
}

h5,
.h5 {
  margin-top: 0;
}
a {
  text-decoration: none;
  color: #252525;
}

a:hover {
  cursor: pointer;
  color: #424250;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.container {
  padding-left: 0;
  padding-right: 0;
}

.profile-img {
  position: absolute;
  padding-left: 15%;
  bottom: 0;
}

#img-bottom {
  padding-bottom: 0;
}

.card {
  padding-left: 20px;
  padding-right: 20px;
}

/* ======================
          TYPOGRAPHY
  ======================= */

body {
  font-family: "Poppins", sans-serif;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  color: #424250;
}

li {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  color: #424250;
}

/* ======================
      SPACING & ALIGNMENT
  ======================= */

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

/* ======================
         ABOUT ME
  ======================= */

.about-me-container {
  padding-top: 10px;
}

.nolan {
  color: #5fb0b7;
  font-weight: 200;
}

.gendron {
  color: #5fb0b7;
  font-weight: 600;
}

.about-me-container p {
  margin-top: 20px;
}
.main-name {
  /* position: absolute;
    top: 20px;
    left: 10px; */
  font-size: 54px;
}

.summary-container {
  padding-top: 20px;
}

.summary-text {
  padding-right: 15px;
}

.summary-container h3 {
  margin-bottom: 20px;
}

.summary-container p {
  margin-bottom: 10px;
}

.summary-container a {
  font-weight: 500;
}

.contact-container {
  width: 60%;
}

/* =====================================
            SKILL STACK
  ======================================= */

.skill-container {
  background-color: #5fb0b7;
}

.skills {
  width: 71%;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 75px;
}
.skill {
  max-width: 428px;
  margin: 0 auto 10px;
}

/* .skills h5 {
  margin-bottom: 10px;
  /* padding: 0 5px; */
/* } 

.skills p {
  padding: 0 5px;
} */

/* =====================================
            CONTACT & LINKS
  ======================================= */

.contact-container {
  margin-top: 20px;
}
.link-container {
  margin-bottom: 10px;
}

.contact-list {
  color: #252525;
  /* display: flex;
  flex-wrap: wrap; */
}

.contact-list > li {
  /* display: inline; */
  padding-bottom: 10px;
}

/* =====================================
              EMPLOYMENT
  ======================================= */

.employment-container {
  padding-top: 0;
  padding-bottom: 0;
}

section.employment {
  margin-bottom: 20px;
}

section.employment h4 {
  padding: 5px 0 5px 0;
  text-transform: uppercase;
  font-size: 16px;
}

section.employment h5 {
  /* margin-bottom: 10px; */
  font-weight: 500;
}

section.employment p {
  margin: 5px 0;
  padding: 5px 0;
}

section.employment a {
  text-decoration: underline;
}

/* =====================================
                PROJECTS
  ======================================= */

.project {
  max-width: 428px;
  margin: 0 auto 10px;
}

.projects img {
  max-width: 100%;
}

.projects h5 {
  margin: 5px 0;
}

.project-date {
  font-weight: 500;
  font-size: 12px;
  padding-bottom: 5px;
}

.projects p {
  margin-bottom: 5px;
}

/* =====================================
              MEDIA QUERIES
  ======================================= */

@media screen and (max-width: 480px) {
  .main-name {
    font-size: 45px;
  }

  .summary-container h3 {
    font-size: 22px;
  }
  .image {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .github-corner {
    display: none;
  }

  img {
    display: none;
  }
  .img-container {
    height: 300px;
    overflow: hidden;
  }

  .main-name {
    text-align: center;
  }

  .summary-container h3 {
    text-align: center;
  }

  .summary-container {
    padding-top: 0;
  }
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 1200px) {
}

@media print {
}

/* =====================================
              GITHUB CORNER LINK
  ======================================= */

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
